& when (@media-common = true) {
    .quickorder-index-index {
        .list-group-flush{
            list-style: none;
        }

        .quickorder-action-invoice {
            display: none;
        }

        .quickorder-action-shipment {
            display: none;
        }

        .quickorder-action-credit {
            display: none;
        }

        .quickorder-create-new {
            display: none;
        }
    }
}
