<?php
/**
 * @var Bss\QuickOrder\Block\Index $block
 */
$products = $block->getProductCollection();
?>
<?php if (count($products) > 0) : ?>
    <div class="quickorder-form">
        <div class="card" style="width: 100%;">
            <div class="card-header">
                <h1><span><?= __('Order Form') ?></span></h1>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div id="quickorder_form">
                        <div class="form-group quickorder-products-table" id="quickorder_products_table">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Sku</th>
                                    <th scope="col">Select</th>
                                </tr>
                                </thead>
                                <tbody>
                                <?php foreach ($products as $key => $product) : ?>
                                    <tr>
                                        <th scope="row"><?= ++$key ?></th>
                                        <td><?= $product['sku'] ?></td>
                                        <td><input type="checkbox" class="quickorder-selected-product"
                                                   id="quickorder_selected_product"
                                                   name="productId[]" value="<?= $product['entity_id'] ?>"/></td>
                                    </tr>
                                <?php endforeach; ?>
                                </tbody>
                            </table>
                        </div>
                        <div class="quickorder-create-order" id="quickorder_create_order">
                            <button id="action-order">
                                <span><?= __('Create Order') ?></span>
                            </button>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="quickorder-wrapper" id="quickorder_wrapper">
                        <button id="quickorder_action_invoice" class="quickorder-action-invoice">
                            <span><?= __('Invoice') ?></span>
                        </button>
                        <button id="quickorder_action_shipment" class="quickorder-action-invoice">
                            <span><?= __('Shipment') ?></span>
                        </button>
                        <button id="quickorder_action_credit" class="quickorder-action-credit">
                            <span><?= __('Credit Memo') ?></span>
                        </button>
                        <button id="quickorder_create_new" class="quickorder-create-new">
                            <span><?= __('Create New Order') ?></span>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
<?php endif; ?>
<script type="text/x-magento-init">
     {
       "*": {
                "quickOrder": {
                    "orderUrl": "<?= $block->getUrl('quickorder/order/save'); ?>",
                    "invoiceUrl": "<?= $block->getUrl('quickorder/invoice/save'); ?>",
                    "shipmentUrl": "<?= $block->getUrl('quickorder/shipment/save'); ?>",
                    "creditUrl": "<?= $block->getUrl('quickorder/credit/save'); ?>"
                }
            }
     }
</script>

